:root{
    --background: #121212;
	--main_color: #00FFF5;
	--secondary_color: #da1c45;
	--white_op: rgb(246, 246, 246,0.7);
	--blue_op: rgba(17, 32, 49, 0.8);
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    position: relative;
}
/*Scrool*/
::-webkit-scrollbar{
    width: 5px;
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(30deg,#da1c45,#00FFF5);
    border-radius: 10px;
    height: 50vh;
}
/*Font text*/
@font-face {
    font-family: 'Modern Sans';
    src: url(../assets/font/font_text/ModernSans-Light.otf);
}
@font-face {
    font-family: 'Victor Mono';
    src: url(../assets/font/font_text/VictorMono-Bold.ttf);
}
/* @font-face {
    font-family: ;
    src: url();
} */
/*Menu*/
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    background: linear-gradient(374deg ,#121212,#121212, #121212,#da1c45);
    width: 100vw;
    border-bottom: 3px solid #da1c45;
    box-shadow: 1px 1px 10px 1px #da1c45;
    position: sticky;
    z-index: 1;
    top: 0;
}
.logo{
    width: 80px;
    height: 80px;
    margin-left: 5vw;
}
.logo img{
    width: 100%;
    display: block;
}
.shortcuts{
    display: flex;
    align-content: center;
    justify-content: end;
    margin-right: 6vh;
    z-index: 2;
    /* position: absolute; */
}
.shortcuts button{
    background: none;
    border: none;
    margin-left: 1.6vw;
    cursor: pointer;
}
.cross_search, .cross_car, .cross_user,.cross_menu{
    font-size: 0px;
    transition-property: font-size;
    transition-duration: 0.5s;
}
i{
    font-size: 1.6rem;
    color: white;
}
.sign_in{
    display: none;
}
#nav{
    position: absolute;
    z-index: 1;
    background: var(--blue_op);
    height: 100vh;
    width: 100vw;
    display: none;
}
#nav #menu{
    display: inline-block;
    list-style: none;
    padding: 0;
    /* background: green; */
    width: 28vw;
    margin-left: 34vw;
    margin-top: 12vh;
}
#menu a{
    color:white;
    text-decoration: none;
    text-align: center;
    font-family: 'Modern Sans';
    font-weight: bold;
    font-size: 1.5rem;
}
#menu a li{
    background: transparent;
    margin-bottom: 5vh;
    padding: 10px;
    width: 0px;
    border-radius: 10px;
    transition-property: background,width,clip-path;
    transition-duration: 0.8s;
    /* background: red; */
}
#menu a:hover li{
    background: red;
    width: 111%;
}
.nav_btn{
    padding: 0;
    /* background: green; */
    width: 28vw;
    margin-left: 34vw;
    margin-top: 3vh;
}
.sign_in_btn, .login_up_btn{
    background: transparent;
    margin-bottom: 5vh;
    padding: 10px;
    width: 0px;
    border-radius: 10px;
    transition-property: background,width,clip-path;
    transition-duration: 0.8s;
    color: white;
    border: none;
    font-family: 'Victor Mono';
    font-size: 1.4rem;
    cursor: pointer;
}
.sign_in_btn:hover, .login_up_btn:hover{
    background: red;
    width: 111%;
    border: 2px solid white;
}
.login_up{
    background: var(--background);
    position: absolute;
    position: sticky;
    top: 19vh;
    z-index: 1;
    width: 70vw;
    height: 62vh;
    padding: 5vw;
    font-family: 'Modern Sans';
    font-weight: bold;
    color: white;
    margin-left: 10vw;
    border-radius: 10px;
    border: 1px solid #00FFF5;
    display: none;
    transition-property: display;
    transition-duration: 1.2s;
}
.login_up h2{
    color: var(--main_color);
    font-family: 'Victor Mono';
    text-align: center;
    padding-bottom: 2vh;
}
.login_up label, .sign_in > label{
    font-size: 1.1rem;
}
.login_up input,  .sign_in input{
    margin-bottom: 7vh;
    margin-top: 2vh;
    background: none;
    color: white;
    border: none;
    border-bottom: 2px solid #da1c45;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 80%;
    font-family: 'Victor Mono';
    outline: none;
}
#btn_login_in , #btn_sign_in{
    margin-bottom: 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition-property: background;
    transition-duration: 0.5s;
    margin-left: 10%;
    border-top: 2px solid var(--secondary_color);
}
#btn_login_in:hover , #btn_sign_in:hover{
    background: red;
}
/* .banner,.container{
    filter: blur(1rem);
} */
form a{
    text-decoration: none;
    color: var(--secondary_color);
}
.sign_in{
    position: absolute;
    z-index: 2;
    position: sticky;
    background: white;
    width: 70vw;
    padding: 5vw;
    height: 70vh;
    margin-left: 10vw;
    top: 15vh;
    border-radius: 10px;
    background-color: var(--background);
    font-family: 'Modern Sans';
    font-weight: bold;
    transition-property: display;
    transition-duration: 1.2s;
    border: 3px solid  var(--secondary_color);
    overflow-y: scroll;
    color: white;
}
.sign_in h2{
    color: var(--secondary_color);
    font-family: 'Victor Mono';
    text-align: center;
    padding-bottom: 2vh;
}
.banner h1{
    color: white;
    font-family: 'Victor Mono';
    font-size: 3rem;
    text-align: center;
}
.banner h1 span{
    color: var(--main_color);
    transition-property: color;
    transition-duration: 0.4s;
}
.banner h1:hover span{
    color: var(--secondary_color);
}
.banner img{
    display: none;
}
.container h2{
    color: var(--secondary_color);
    font-family: 'Victor Mono';
}
.products{
    display: grid;
    grid-template-columns: 200px;
    gap: 30px;
    justify-content: center;
}
.containerProducts{
    position: relative;
    background: var(--blue_op);
    color: red;
    backdrop-filter: blur(10rem);
    border-top: 1px solid rgba(255, 255,255, 0.5);
    border-radius: 10px;
    width: 100%;
    transition: 0.6s;
    text-decoration: none;
}
.containerProducts img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.containerProducts h3{
    text-align: center;
    font-family: 'Modern Sans';
    color: white;
}
.containerProducts:hover{
    transform: scale(1.06);
}
.add_car_btn{
    background: var(--secondary_color);
    border: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
    height: 40px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    cursor: pointer;
}
.add_car_btn i{
    color: black;
}
.add_car_btn b{
    margin-top: 8px;
    margin-left: 8px;
    font-family: 'Victor Mono';
}
@media (min-width:700px){
    .products{
        grid-template-columns: repeat(2,200px);
    }
}
@media (min-width:1000px) {
    .products{
        grid-template-columns: repeat(3,200px);
    }
}
@media (min-width:1200px){
    .products{
        grid-template-columns: repeat(4,200px);
        /* grid-template-rows: 270px; */
        gap: 60px;
    }
    
}