.moduleSeo{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 88.5vh;
}
.menu_admin{
    background: var(--blue_op);
}
.menu_seo{
    margin: 0;
    padding: 0px;

}
.menu_admin .menu_seo a{
    color: white;
    text-decoration: none;
}
.menu_admin .menu_seo a li{
    text-align: center;
    padding: 20px 0px;
    text-decoration: none;
    list-style: none;
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Victor Mono';
}
.menu_admin .menu_seo a li:hover{
    transform: scale(1.05);
    border: 2px solid var(--secondary_color);
    border-radius: 10px;
}
.containerSeo{
    background: #151515;
}
.containerSeo h2{
    font-family: 'Victor Mono';
    color: var(--main_color);
    text-align: center;
    padding-top: 40px;
}
table{
    border: 2px solid white;
    width: 70%;
    margin-left: 15%;
    color: white;
}