:root{
    --background: #121212;
	--main_color: #00FFF5;
	--secondary_color: #da1c45;
	--white_op: rgb(246, 246, 246,0.7);
	--blue_op: rgba(17, 32, 49, 0.8);
}
body{
    overflow-y: hidden;
    background: linear-gradient(83deg, #121212 , #00FFF5 100%);
}
/*Font text*/
@font-face {
    font-family: 'Modern Sans';
    src: url(../assets/font/font_text/ModernSans-Light.otf);
}
@font-face {
    font-family: 'Victor Mono';
    src: url(../assets/font/font_text/VictorMono-Bold.ttf);
}
@font-face {
    font-family: 'Monospace';
    src: url(../assets/font/font_text/MonospaceTypewriter.ttf);
}
#left{
    height: 55vh;
    margin-top: 5vh;
}
#left h2{
    font-family: 'Monospace';
    color: var(--main_color);
    text-align: center;
    padding-top: 30px;
}
form{
    color: white;
    font-family: 'Modern Sans';
    font-weight: bold;
    width: 80vw;
    margin-left: 10vw;
}
form input{
    border-radius: 5px;
    background: none;
    height: 25px;
    border: none;
    border-bottom: 3px solid var(--secondary_color);
    color: white;
    font-family: 'Victor Mono';
    margin-bottom: 20px;
    outline: none;
    margin-left: 20px;
    width: 65%;
    margin-top: 10px;
}
input::placeholder{
    color: white;
}
@media (min-width:700px) {
    .grid_sign_in{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, 44.3vh);
    }
    #left{
        width: 0vw;
    }
    #right{
        background: url(https://images.pexels.com/photos/586744/pexels-photo-586744.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
        /* background: red; */
        height: 100vh;
    }
    form{
        margin-top: 0px;
    }
    #form h2{
        padding-top: 0;
        margin-left: -300px;
    }
    form input{
        border-radius: 5px;
        background: none;
        height: 25px;
        border: none;
        border-bottom: 3px solid var(--secondary_color);
        color: white;
        font-family: 'Victor Mono';
        margin-bottom: 20px;
        outline: none;
        margin-left: 20px;
        width: 20vw;
        margin-top: 10px;
    }
}