body{
    background: linear-gradient(83deg, #121212 0%, #da1c45 35%, #00FFF5 100%);
}
header{
    background: none;
    border-bottom: none;
    box-shadow: none;
}
header i{
    color: black;
}
.container_sign_in{
    background: rgba(231, 126, 126, 0.2);
    width: 90vw;
    height: 110vh;
    margin-left: 5vw;
    color: black;
    font-family: 'Modern Sans';
    border-radius: 10px;
    margin-bottom: 20vh;
}
.container_sign_in h2{
    text-align: center;
    font-family: 'Monospace';
    padding-top: 20px;
}
.container_sign_in form{
    padding: 40px;
}
form label{
    font-weight: bold;
    font-size: 0.98rem;
}
.container_sign_in input{
    outline: none;
    background: none;
    border: none;
    border-bottom: 3px solid black;
    width: 100%;
    color: black;
    margin-bottom: 20px;
    height: 30px;
    border-bottom-left-radius: 8px;
    font-size: 1.3rem;
}
form #sign_btn{
    width: 35%;
    margin-left: 32.5%;
    margin-top: 50px;
    border-radius: 10px;
    border: none;
    height: 40px;
    font-family: 'Victor Mono';
    cursor: pointer;
}
@media (min-width:700px){
    .container_sign_in{
        width: 65vw;
        margin-left: 17.5%;
    }
}
@media (min-width: 1000px){
    .container_sign_in{
        width: 45vw;
        margin-left: 27.5%;
    }
    .container_sign_in input{
        border-bottom: 2px solid white;
        transition: 0.4s;
    }
    .container_sign_in input:hover{
        border-bottom: 4px solid black;
    }
}
@media (min-width: 1200px) {
    .container_sign_in{
        margin-left: 32.5%;
        width: 35vw;
    }
}
/* logo */
.logo{
    /* background: red; */
    display: flex;
    margin-top: 20px;
    margin-left: 5vw;
}
.circle_white, .circle_blue{
    width: 32px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.circle_blue{
    border: 2.2px solid #00FFF5;
    position: absolute;
    margin-left: 4px;
}
.circle_white_on{
    width: 21px;
    height: 23px;
    border: 2.2px solid white;
    border-radius: 50%;
}
.circle_white{
    border: 2.2px solid white;
}
.circle_blue_on{
    width: 20px;
    height: 20px;
    border: 2.2px solid #00FFF5;
    border-radius: 50%;
}
#typeAccount{
    background: #151515;
    position: absolute;
    width: 40%;
    left: 30%;
    border-radius: 10px;
    top: 30vh;
    transform: translateY(-290%);
    transition: 1s;
}
.seleccion{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,35%);
    gap: 10%;
    margin-top: 5%;
    color: white;
}
.seleccion .admin img , .seleccion .user img {
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.admin, .user{
    background: rgba(17, 32, 49, 0.8);
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}.descri{
    padding: 0px 25px;
    text-align: justify;
    margin-bottom: 30px;
}
.admin:hover, .user:hover{
    transform: scale(1.05);
}