@font-face {
    font-family: 'Modern Sans';
    src: url(../assets/font/font_text/ModernSans-Light.otf);
}
@font-face {
    font-family: 'Victor Mono';
    src: url(../assets/font/font_text/VictorMono-Bold.ttf);
}
@font-face {
    font-family: 'Monospace';
    src: url(../assets/font/font_text/MonospaceTypewriter.ttf);
}
.products{
    display: grid;
    grid-template-columns: repeat(4,200px);
    gap: 60px;
    justify-content: center;
}
.containerProducts{
    position: relative;
    background: var(--blue_op);
    color: red;
    backdrop-filter: blur(10rem);
    border-top: 5px solid var(--blue_op);
    border-radius: 10px;
    width: 100%;
    transition: 0.6s;
    text-decoration: none;
}

.containerProducts img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.containerProducts h3{
    text-align: center;
    font-family: 'Modern Sans';
    color: white;
}
.containerProducts:hover{
    transform: scale(1.06);
}
.add_car_btn{
    background: var(--secondary_color);
    border: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
    height: 40px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    cursor: pointer;
}
.add_car_btn i{
    color: black;
}
.add_car_btn b{
    margin-top: 8px;
    margin-left: 8px;
    font-family: 'Victor Mono';
}
.categories{
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(-110deg, #00D48D, black);
    border-radius: 10px;
    height: 25vh;
    width: 60vw;
}
.categories img{
    height: 100%;
    width: 20%;
    margin-left: 600px;
}
.categories .categories_tittle{
    font-size: 35px;
    font-family: 'Victor Mono';
    margin-top: -115px;
    margin-left:  130px;
    color: white;
}
