body{
    background: url(assets/img/Uno.jpg);
}
.products{
    display: grid;
    grid-template-columns: 200px;
    gap: 30px;
    justify-content: center;
}
.containerProducts{
    position: relative;
    background: rgba(255, 255,255, 0.1);
    color: red;
    backdrop-filter: blur(10rem);
    border-top: 1px solid rgba(255, 255,255, 0.5);
    border-radius: 10px;
    width: 100%;
    transition: 1s;
}
.containerProducts:hover{
    transform: scale(1.1);
}
.container_filter img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}